{% extends "mainApp/includes/altHeader.html" %}

{%block content%}

<div class="container" id="projects" style="padding-top: 60px; margin-top: -60px; opacity:0.8">
    <div class="row">
        <div class="col s12">
            <p class="z-depth-5"></p>
            <div class="card cyan darken-4 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title white-text"><strong>Credits</strong></span>
                    <p>Last updated: May 15 2022</p><br>

                    <p><strong>Learning Resources:</strong></p>
                    <p><a href="https://pythonprogramming.net/">Sentdex Python Tutorials</a></p>
                    <p><a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a></p>
                    <p><a href="https://materializecss.com/">Materialize Design</a></p>
                    <p><a href="https://www.pexels.com/@oandremoura/">Background Image</a></p>
                    <p><a href="https://www.flaticon.com/free-icons/leaf">Flaticon</a></p><br>

                    <p><strong>Contact Us</strong></p>
                    <p>If you have any questions about these Credits, please use the <a href="/#contact">contact form</a>.</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% include "mainApp/includes/footer.html" %}
{%endblock%}