{% extends "mainApp/includes/altHeader.html" %}

{%block content%}

<div class="container" id="projects" style="padding-top: 60px; margin-top: -60px; opacity:0.8">
    <div class="row">
        <div class="col s12">
            <p class="z-depth-5"></p>
            <div class="card cyan darken-4 hoverable center-align">
                <div class="card-content white-text">
                    <span class="card-title white-text"><strong>Credits</strong></span>
                    <p>Last updated: May 7 2022</p>

                    <p><strong>Learning Resources:</strong></p>
                    <p>Sentdex Django Tutorials</p>
                    <p>Mozilla Developer Network</p><br>

                    <p><strong>Contact Us</strong></p>
                    <p>If you have any questions about this Privacy Policy, please use the <a href="/#contact">contact form</a>.</p>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}