
{% block content %}
<div class="container" id="contact" style="padding-top: 60px; margin-top: -60px; opacity:0.8">
  <div class="row">
      <div class="col s12">
        <p class="z-depth-5"></p>
        <div class="card cyan darken-4 hoverable center-align">
          <div class="card-content white-text">
            <span class="card-title white-text"><strong>Contact</strong></span>
            <p></p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col s12">
        <div class="card cyan darken-4 hoverable center-align z-depth-5">
          <div class="card-content white-text">
            <form id = "contactForm" method = "POST" action = "">
                {% csrf_token %}
                {{form}}
                <div class="row" style="text-align: center;">
                  <div class="input-field col" style= "text-align: center; margin-left: 410px;" >
                      <button class="btn waves-effect teal" type="submit" name="action" >Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>          
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}