{% block content %}
<div class="container" id="projects" style="padding-top: 60px; margin-top: -60px; opacity:0.8">
  <div class="row">
      <div class="col s12">
        <p class="z-depth-5"></p>
        <div class="card cyan darken-4 hoverable center-align">
          <div class="card-content white-text">
            <span class="card-title white-text"><strong>Projects</strong></span>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container" id = "projectCards" style="opacity:0.88">
  <div class="row">
    {% for proj in projects %}
        <div class="col s6">
          <p class="z-depth-5"></p>
          <div class="card small teal lighten-2 hoverable">
            <div class="card-content black-text">
              <span class="card-title activator cyan-text text-darken-4"><strong>{{proj.name}}</strong><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal teal lighten-2">
              <span class="card-title cyan-text text-darken-4">{{proj.name}}<i class="material-icons right">close</i></span>
              <p>{{proj.summary|safe}}</p>
              <div class = "card-action cyan darken-4"> 
                <a href ="https://github.com/hvmid/DeltaNeutralData", class="waves-effect waves-light s6 btn-small cyan darken-4", target=”_blank”><i class="fa fa-github" style="font-size:24px"></i></a>
              </div>
            </div> 
            <div class = "card-action cyan darken-4"> 
              <a href ="https://github.com/hvmid/DeltaNeutralData", class="waves-effect waves-light s6 btn-small cyan darken-4", target=”_blank”><i class="fa fa-github" style="font-size:24px"></i></a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}