html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../Images/3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-wrapper{
  padding-left: 15px;
}

main {
  flex: 1 0 auto;
}